!!! 5
%html{lang: "en"}
  %head
    %title Title
    %meta{charset: "utf-8"}
    %link{href: "RSnormalize.css", rel: "stylesheet"}
  %body
    %div.btn.save Save
    %div.btn.send Send
    %div.btn.update Update
    %div.btn.download Download
    %div.btn.delete Delete